<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/style.css" type="text/css">
    <title>Pokedex</title>
</head>

<body>
    <h1>Pokedex</h1>
    <div class="button-bar" id="button-bar">
        <button class="show-pokemons hidden" id="show-pokemons">Show pokemons</button>
        <button class="next-btn" id="next-btn">Next page</button>
        <button class="prev-btn" id="prev-btn">Previous page</button>
    </div>
    <div class="container" id="main-container"></div>
    <script src="../Script/gettingAPI.js"></script>
</body>

</html>